$gradient-dark-green: linear-gradient(
  90deg,
  rgba(41, 111, 99, 1) 0%,
  rgba(41, 153, 134, 1) 100%
);
$dark-green: rgba(41, 111, 99, 1);
$dark-blue: #0c4569;
$gradient-ligth-green: linear-gradient(180deg, #81b12e 0%, #a8d658 100%);
$gradient-blue: linear-gradient(90deg, #0c4569 0%, #066cad 95.31%);
$gray: #b4b4b4;
$white: #fff;
$black: #000;
$glassy-white: rgba(255, 255, 255, 0.77);
