@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin longField($bgColor) {
  width: 230px;
  height: 40px;
  font-size: 1.4rem;
  background: $bgColor;
  border: none;
  color: white;
  border-radius: 15px;
  text-decoration: none;
}
