@use "./welcome";
@use '../mixins.scss' as m;
@use "../colors.scss";

.login-container {
  @extend .welcome-container;

  .login-square {
    @extend .welcome-square;
    justify-content: center;
    input,
    form {
      margin: 2rem 0;
      select {
        @include m.longField(colors.$glassy-white);
        border: 2px solid colors.$dark-blue;
        margin: 1rem 0;
        text-align: left;
        padding: 0 15px;
        color: colors.$black;
        outline: none;
      }
      label {
        display: block;
        width: 230px;
        margin: auto;
        text-align: left;
      }
    }
    .login-button {
      @include m.longField(colors.$gradient-dark-green);
      margin: 1rem 0;
    }
  }
}
