<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Bienvenido a StarBank</h1>
        <div class="col-6">
            <a href="/formSaving" class="btn w-100 text-white" style="background-color: black" >Crear cuenta de ahorros</a>
        </div>
        <div class="col-6">
            <a href="/formCurrent" class="btn w-100 text-white" style="background-color: black" >Crear cuenta corriente</a>
        </div>
    </div>
</div>
</body>
</html>